.file-tree {

    &, ul {
        margin   : 0;
        padding  : 0;
        display  : table;
        min-width: 100%;
    }

    .icon {
        display       : inline-block;
        vertical-align: top;
        width         : 20px;
        height        : 20px;
        font-size     : 16px;
        line-height   : 20px;
        text-align    : left;
        margin-right  : 4px;

        &.icon-folder-open,
        &.icon-folder {
            // color: rgba(169, 142, 76, 0.7);
            color: mix(@color-ui-accent, @color-ui-dark);
            -webkit-text-stroke: 0.25px #000;
        }

        &.icon-file-text2 {
            // color: rgba(141, 163, 171, 0.7);
            // color: contrast(@color-ui, #FFF, #000, 30%);
            // text-shadow: 0 1px 0 fade(contrast(@color, #000, #FFF, 70%), 10%);
        }
    }

    li {
        white-space: nowrap;
        display    : block;
        min-width  : 100%;

         > div {
             min-width: 100%;
             display: inline-block;
             padding-right: 4px;
             position: relative;
             z-index: 2;
             border-radius: 2px;
             line-height: 20px;
         }

        > div:before {
            content: "";
            width: 0;
            height: 0;
            border-width: 5px;
            border-color: transparent;
            border-style: inset inset inset solid;
            position: relative;
            display: inline-block;
            margin: 0px 3px 0px 9px;
        }
        &.dir > div:before {
            border-color: transparent transparent transparent @color;
        }
        &.expanded > div:before {
            border-color: @color transparent transparent transparent;
            border-style: solid inset inset inset;
            margin: 6px 6px -3px 6px;
        }

        > div:hover {
            background: rgba(0, 0, 0, 0.2);
            text-shadow : 0 1px 0 fade(contrast(@color), 10%);
            box-shadow: 0 0 1px 0 #000;
        }

        > div:focus {
            outline: none;
        }

        &.selected > div {
            background: mix(@color-ui-accent, @color-ui);//rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 0 #000 inset;
            outline: none;
            color: #FFF;
            text-shadow : 0 1px 1px #000;

            // .icon-folder-open,
            // .icon-folder {
            //     color: rgba(169, 142, 76, 0.9);
            //     -webkit-text-stroke: 0.5px @color;
            // }

            // .icon-file-text2 {
            //     color: rgba(141, 163, 171, 0.9);
            // }
        }

        // &.selected > div {
        //     box-shadow: 0 0 1px 0 rgba(255, 127, 0, 1) inset;
        // }
    }
}
