* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
    background: #2F3129;
    color: #797A75;
}
body {
    font: menu;
    background: #2F3129;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default;
    color: #797A75;
    -webkit-app-region: drag;
}

@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
	content: "\e205";
}
.icon-close:before {
	content: "\e209";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-file-text2:before {
	content: "\e900";
}
.icon-radio-checked2:before {
	content: "\e901";
}
// Scrollbars ==================================================================
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.16) inset;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.3);
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(200, 200, 200, 0.5);
}
::-webkit-scrollbar-track {
  background: transparent;
}
/*::-webkit-scrollbar-track:hover {
  background: rgba(200, 200, 200, 0.05);
}
::-webkit-scrollbar-track:active {
  background: #333333;
}*/
::-webkit-scrollbar-corner {
  background: transparent;
}
/*div, iframe {
    box-shadow: 0 0 0 0.5px #CCC;
}*/
.main-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    background: #1E1F18;
    -webkit-app-region: no-drag;
}
.main-sidebar-left {
    padding     : 3px;
    width       : 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    overflow    : overlay;
    position    : relative;
}

.main-stage {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.main-tabs {
    display       : flex;
    flex-direction: row;
    height        : 2.2em;
    background    : linear-gradient(#1E1F1A, #272822);
    position      : relative;
    padding-bottom: 3px;

    &::after {
        content: '';
        height : 3px;
        display: block;
        background: #2F3129;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: -3px;
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.5);
        z-index: 3;
    }
    .tab {
        // display: flex;
        flex: 1;
        position: relative;
        z-index: 2;
        padding: 4px 8px;
        max-width: 40%;
        border-radius: 3px 3px 0 0;
        box-shadow: 0px -1px 0px 1px #1E1F18, 0 1px 2px -2px rgba(255, 255, 255, 0.5) inset, 0 -17px 16px -7px rgba(0, 0, 0, 0.2) inset;
        margin: 1px 2px 0 0;
        background: #2F3129;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 0px -1px 0px #000;

        &:hover {
            background: lighten(#2F3129, 2%);
            color: #fff;
            // z-index: 4;
        }

        &.active {
            // border-top: 2px solid rgba(255, 165, 0, 0.4);
            box-shadow: 0px -1px 0px 1px #1E1F18, 0 2px 1px -2px rgba(255, 255, 255, 0.8) inset, 0 10px 0 -8px rgba(255, 135, 0, 0.4) inset, 0 -17px 16px -7px rgba(0, 0, 0, 0.2) inset;
            background: linear-gradient(lighten(#2F3129, 10%), lighten(#2F3129, 5%));
            color: #fff;
            z-index: 4;
        }

        &.preview {
            font-style: italic;
            text-shadow: none;
        }

        &.modified {
            color: orange;
        }

        .close-tab {
            float: right;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            margin: 1px -3px auto 3px;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            padding: 0;
            position: relative;
            z-index: 2;
            opacity: 0.5;
            color: rgba(255, 255, 255, 0.4);
            transition: all 0.2s;

            &:hover {
                background: rgba(0, 0, 0, 0.3);
                color: #fff;
                opacity: 1;
            }

            &:active {
                box-shadow: 1px 1px 2px #000 inset;
            }
        }

        &.modified .close-tab:not(:hover) {
            opacity: 1;
            &::before {
                content: '\f14b';
                color: orange;
                text-shadow: 0px 0px 1px #000;
            }
        }
    }
}

.main-frame {
    display: flex;
    flex: 5;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.main-inspector {
    display : flex;
    flex    : 5;
    position: relative;
    background: #272822;
    // border-top: 2px solid #2F3129;
}


.main-sidebar-right {
    display: flex;
    padding: 4px;
    flex   : 2;
    border-left : 1px solid rgba(255, 255, 255, 0.1);
    overflow: auto;
}
.main-status-bar {
    display: flex;
    padding: 0 4px 1px;
    border-top : 1px solid rgba(255, 255, 255, 0.1);
    -webkit-app-region: drag;
}

.header {
    height: 23px;
    line-height: 22px;
    font-size: 14px;
    text-shadow: 0 0 1px #000;
    color: #ccc;
    border-bottom: 1px solid #111;
    position: relative;
    z-index: 5;
}

#editor {
    position: absolute;
    border-top: 1px solid #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Roboto Mono", "Source Code Pro", Menlo;
    text-rendering: optimizeLegibility;
    font-size: 14px;

    &.ace_dark {
        font-weight: 300;
        text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 1);
        /*opacity: 0.8;*/
    }
    &.ace-ambiance .ace_gutter {
        color: #000 !important;
        font-weight: 400;
    }
    &.ace-ambiance .ace_marker-layer .ace_selected-word {
        border-width: 1px;
    }
    .ace_comment {
        // font-family: "Source Code Pro", Menlo;
        font-weight: 400;
        letter-spacing: 0.025ex;
    }
    &.ace-twilight .ace_fold {
        background-color: rgb(47, 49, 41);
        border-color: rgb(171, 134, 87);
    }
}

@import "FileTree.less";

.resizer {
    position: fixed;
    pointer-events: auto;
    z-index: 1000;
    // background: orange;
    // opacity: 0.2;
    &.vertical {
        cursor: col-resize;
        width: 6px;
        top: 0;
        bottom: 0;
    }
    &.horizontal {
        cursor: row-resize;
        height: 6px;
        left: 0;
        right: 0;
    }
    // &:active {
    //     background: orange;
    //     opacity: 0.5;
    // }
}

.filetree-toolbar {
    box-shadow: 0 1px 5px 0 #000;
}

.btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.pull-right {
    float: right;
}
